html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  margin-left: 7rem;
  margin-right: 7rem;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}
/* header */

header {
  background-color: #fafafa;
}
.nav-wrapper h5 {
  color: #03a4ed;
  font-weight: bold;
}
.nav-wrapper span {
  color: #fe3f40;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.nav-wrapper ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.nav-wrapper a {
  font-size: 1.8rem;
}

.nav-wrapper a:hover {
  color: #fe3f40;
}

.nav-wrapper button {
  background-color: #fe3f40;
  color: white;
  border: 0px solid;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
.nav-wrapper button:hover {
  background-color: #03a4ed;
  cursor: pointer;
}

.nav-wrapper div {
  display: none;
}

.fa-bars {
  cursor: pointer;
}

/* hero */
.hero {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  animation: soldangel 1s forwards;
}

.hero-content h5 {
  color: #fe3f40;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.hero-content h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-content p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 60rem;
}

.hero-content form {
  position: relative;
}
.hero-inp {
  text-align: left;
  background-color: #03a4ed;
  padding: 3rem;
  width: 46rem;
  border: 0px solid #03a4ed;
  border-radius: 4rem;
  color: white;
}
.hero-inp:focus {
  outline: none;
}

.hero-sub {
  position: absolute;
  left: 27rem;
  top: 0.8rem;
  cursor: pointer;
  color: red;
  background-color: white;
  padding: 2rem 4rem;
  font-size: 1.7rem;
  border: 0px solid;
  border-radius: 4rem;
}
::placeholder {
  color: white;
}

.span-blu {
  color: #03a4ed;
}

.span-red {
  color: #fe3f40;
}

.hero-img {
  animation: sagdangel 1s forwards;
}

.hero-img img {
  width: 100%;
}

/* datas */

.datas {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: linear-gradient(to right, #ff3e27, #ff305c);
  color: white;
}

.datas-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.datas-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data-content p {
  max-width: 80%;
  margin-top: 1rem;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}

.data div {
  margin: 1rem;
}

/* analys */

.analys {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.analys-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analys-content {
  flex: 1;
  animation: sagdangel 1s forwards;
}

.analys-img {
  flex: 1;
  animation: soldangel 1s forwards;
}

.analys-img img {
  max-width: 100%;
}

.analys-wrapper h3 {
  margin-bottom: 2rem;
}

.analys-wrapper p {
  margin-bottom: 2rem;
}

.analys-content-bars > div {
  margin: 3rem;
}

.bars-red-one {
  width: 60%;
  border: 0.4rem solid red;
  border-radius: 1rem;
  z-index: 2;
}

.bars-red-two {
  width: 80%;
  border: 0.4rem solid red;
  border-radius: 1rem;
  z-index: 2;
}

.bars-red-three {
  width: 90%;
  border: 0.4rem solid red;
  border-radius: 1rem;
  z-index: 2;
}
.analys-content-bars-div {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bars-span-one {
  position: absolute;
  left: 55%;
  color: #03a4ed;
}

.bars-span-two {
  position: absolute;
  left: 75%;
  color: #03a4ed;
}

.bars-span-three {
  position: absolute;
  left: 85%;
  color: #03a4ed;
}

.bars-full {
  width: 40%;
  border: 0.4rem solid #f7eff1;
  border-radius: 1rem;
  position: absolute;
  z-index: -1;
}

/* .porvides  */

.provides {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.provides h4 {
  text-align: center;
}

.provides-wrapper {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.provides-wrapper img {
  max-width: 30%;
  position: relative;
}

.provide {
  position: relative;
  text-align: center;
  border: 1px solid gray;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 20px 5px;
  padding: 3rem 0rem;
  margin: 1rem;
  flex: 1;
}
.provide div {
  position: absolute;
  bottom: 120%;
  left: 6%;
  background: linear-gradient(to right, #ff3e27, #ff305c);
  border: 0px solid;
  border-radius: 1rem;
  display: none;
}

.provide:hover {
  cursor: pointer;
  top: 5rem;
}
.provide:hover div {
  display: block;
}

.provide div h5 {
  margin: 1rem;
}

.provide div p {
  margin: 1rem;
}

/* trend */

.trend {
  margin-top: 20rem;
  margin-bottom: 5rem;
}

.trend h4 {
  margin-left: 7rem;
  max-width: 30%;
  margin-bottom: 10rem;
}

.trend-wrapper {
  display: flex;
  animation: alttangel 1s forwards;
}

.trend-content {
  flex: 1;
  position: relative;
  margin-right: 1rem;
  animation: usttengel 1s forwards;
}

.trend-content img {
  max-width: 100%;
}
.trend-sidebar {
  flex: 1;
  position: relative;
  margin-left: 1rem;
}

.marketing {
  border: 0px solid gray;
  border-radius: 2rem;
  position: absolute;
  bottom: 30%;
  background-color: white;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 20px 5px;
}
.marketing h5 {
  margin: 2rem;
}
.marketing p {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.marketing-top {
  display: flex;
  margin: 2rem;
}
.marketing-top div {
  display: flex;
}

.trend-content button {
  background-color: #03a4ed;
  border: 0px solid;
  border-radius: 2rem;
  padding: 1rem;
  color: white;
  margin-top: 0rem;
}

.trend-side {
  display: flex;
}

.trend-side-content div {
  margin-bottom: 2rem;
}

.trend-side-content h5 {
  margin-bottom: 2rem;
}

.trend-side-content i {
  color: #fe3f40;
}

.trend-side {
  margin-bottom: 3rem;
}
.trend-side img {
  border: 0px solid red;
  border-radius: 2rem;
}

.trend-top-img {
  width: 40%;
  position: absolute;
  left: 60%;
  bottom: 100%;
}

/* footer */
footer {
  margin-top: 5rem;
}
.footer-wrapper {
  background: linear-gradient(to right, #ff3e27, #ff305c);
  color: white;
  display: flex;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.footer-wrapper h4 {
  margin-bottom: 4rem;
}

.footer-wrapper p {
  margin-bottom: 4rem;
}

.footer-wrapper i {
  border: 1rem solid white;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-size: 1.6rem;
}

.footer-form {
  flex: 1;
}
.footer-content {
  flex: 1;
}
.form-wrapper {
  background-color: white;
  padding: 3rem;
  border: 0px;
  border-radius: 2rem;
}

.input-wrapper {
  display: flex;
}

textarea {
  background-color: #d1f3ff;
  width: 100%;
  border: 0px solid;
  border-radius: 2rem;
  padding: 2rem;
}
.footer-form input {
  color: black;
  background-color: #d1f3ff;
  border: 0rem solid;
  border-radius: 2rem;
  width: 100%;
  padding: 1.6rem 2rem;
  margin-bottom: 2rem;
}

.input-wrapper-first {
  margin-right: 2rem;
}
::placeholder {
  color: black;
}

.submit {
  background-color: #03a4ed !important;
  color: white !important;
  width: unset !important;
  margin-top: 1rem !important;
}

.footer-div {
  margin-top: 3rem;
  text-align: center;
}

.footer-div p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* keyframes */

@keyframes soldangel {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sagdangel {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes usttengel {
  from {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes alttangel {
  from {
    transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* media query */

@media (max-width: 1399.98px) {
  .container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (max-width: 1199.98px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 991.98px) {
  .nav-wrapper ul li:last-child {
    display: none;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-inp {
    width: 60rem;
  }

  .hero-sub {
    left: 64%;
  }
  .hero-content {
    margin-bottom: 10rem;
  }

  .hero-content p {
    max-width: 100%;
  }

  .datas {
    background: white;
  }

  .datas-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(10px 10px 10px 10px);
  }

  .datas-content {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: usttengel 1s forwards;
  }
  .data-content p {
    max-width: 100%;
  }
  .data {
    padding: 3rem;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: black;
    border-radius: 2rem;
    background: linear-gradient(to right, #ff3e27, #ff305c);
  }
  .datas-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    animation: alttangel 1s forwards;
  }

  .analys-wrapper {
    flex-direction: column;
  }

  .provide {
    flex: 1 0 calc(50% - 2rem);
    flex-wrap: wrap;
    margin-bottom: 7rem;
  }

  .provide:hover div {
    left: 20%;
  }

  .trend h4 {
    text-align: center;
    max-width: unset;
    margin-left: unset;
  }

  .trend-content {
    display: flex;
    flex-direction: column;
  }

  .marketing {
    position: unset;
    width: unset;
  }
  .trend-top-img {
    display: none;
  }
  .trend-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .trend-sidebar {
    margin-top: 5rem;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .footer-content {
    margin-bottom: 5rem;
  }

  .input-wrapper {
    display: unset;
  }
}

@media (max-width: 767.98px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .nav-wrapper div {
    display: block;
  }
  .nav-wrapper ul {
    display: none;
  }
  .hero-inp {
    width: 45rem;
  }

  .hero-sub {
    left: 57%;
  }
  .datas-img img {
    width: 100%;
  }

  .provide {
    flex: 1 0 calc(50% - 2rem);
    flex-wrap: wrap;
  }

  .trend-side {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .footer-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 575.98px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .hero-inp {
    width: 30rem;
  }

  .hero-sub {
    left: 55%;
    padding: 2rem 1rem;
  }

  .provide {
    flex: 1 0 calc(100% - 1rem);
  }

  .provide div {
    left: 22%;
    margin-bottom: 5rem;
  }
}
